body {
  min-width: 570px;
  min-height: 250px;
  background-color: #fff; }

.ce__form-container_company-image,
.ce__unbinding-container_company-image {
  width: 180px;
  height: 80px;
  margin-bottom: 10px; }

.btn-accept {
  color: #fff;
  background-color: #91b247;
  border: none; }
  .btn-accept:hover {
    color: #666; }

.btn:focus {
  outline: none; }

.ce__loading {
  position: fixed;
  top: 38px;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.8); }
  .ce__loading .loading-img-holder,
  .ce__loading .loading-text-holder {
    text-align: center;
    margin: 30px 0;
    color: #fff; }
  .ce__loading .loading-img {
    width: 128px;
    height: 128px; }

.ce__header {
  background-color: #91b247;
  color: #fff;
  margin-bottom: 0.8em; }

.ce__company-name {
  color: #91b247; }

.ce__wrapper {
  color: #666;
  margin-bottom: 10px; }

.ce__auth-wrapper {
  margin: 15px 0;
  padding: 20px 0; }

.ce__image-holder {
  text-align: center; }

.ce__form-container {
  margin: 0 20px; }

.header-holder {
  padding: 0.6em; }

.header-icons {
  text-align: right;
  font-size: 1.5em; }
  .header-icons .glyphicon:active {
    color: #666; }

.header-icons .glyphicon {
  padding: 0 0.2em; }

.show-left-border {
  border-left: 2px solid #f2f2f2; }

.auth-message {
  text-align: center; }

.binded {
  color: #91b247 !important;
  border: 1px solid #91b247;
  background-color: #fff; }

.unbinding-message-holder {
  display: inline-block;
  vertical-align: text-bottom;
  margin-top: 25px; }
  .unbinding-message-holder .glyphicon {
    color: #91b247;
    margin-left: 10px; }
  .unbinding-message-holder .unbinding_text {
    margin: 0 10px 0 5px; }

.city-holder label {
  font-size: 0.8em; }

.city-holder .revert-cities {
  text-align: center; }
  .city-holder .revert-cities .revert-cities-img {
    width: 16px;
    height: 16px;
    transform: rotate(90deg); }

#removeSelection {
  display: none; }

.calendar-holder {
  font-size: 0.8em; }
  .calendar-holder .current-month {
    background-color: #91b247;
    color: #fff; }
  .calendar-holder .next-month {
    background-color: #ccc; }
  .calendar-holder #removeSelection {
    background-color: #ccc;
    color: red;
    float: right; }
  .calendar-holder .weekend {
    color: #ccc; }
  .calendar-holder .weekday {
    color: #666; }
  .calendar-holder .date div {
    border-radius: 2px;
    padding: 2px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
  .calendar-holder .date.today div {
    background-color: #eee; }
  .calendar-holder .date.selected div {
    background-color: #91b247;
    color: #fff; }
  .calendar-holder .month {
    border-radius: 2px;
    padding: 0 8px; }
    .calendar-holder .month.current-month {
      opacity: 0.8;
      text-align: left; }
    .calendar-holder .month.next-month {
      text-align: right; }
  .calendar-holder .table-bordered {
    border: 0;
    padding: 2px;
    margin-bottom: 0; }
    .calendar-holder .table-bordered tr {
      border-top: 0; }
      .calendar-holder .table-bordered tr:nth-child(2) td {
        border-top: 0; }
      .calendar-holder .table-bordered tr:last-child td {
        border-bottom: 0; }
    .calendar-holder .table-bordered td,
    .calendar-holder .table-bordered th {
      text-align: center; }
    .calendar-holder .table-bordered th {
      border: 0;
      color: rgba(0, 0, 0, 0.3); }
    .calendar-holder .table-bordered td {
      padding: 1px;
      border-color: transparent;
      cursor: pointer; }
      .calendar-holder .table-bordered td:first-child {
        border-left: 0; }
      .calendar-holder .table-bordered td:last-child {
        border-right: 0; }
