$lime: #91b247;
$lightLime: #e7f3db;
$darkGreen: #55692a;
$white: #fff;
$greyText: #666;
$black: #000;
$lightGrey: #ccc;
$lighterGrey: #eee;
$lightOrange: #ffdb90;

body {
    min-width: 570px;
    min-height: 250px;
    background-color: $white;
}

label {
    input[type=checkbox] {
        margin: 2px 0 0;

        &:before {
            content: "";
            width: 14px;
            height: 14px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $white;
            border-radius: 3px;
            border: 1px solid $lightGrey;
            text-align: center;
            font-weight: 800;
        }

        &:checked {
            &:before {
                content: '\2713';
                font-size: 18px;
                color: $lime;
                line-height: 14px;
                border-color: $lime;
            }
        }
    }
}

.btn {
    &:focus {
        outline: none;
    }
}

.btn-accept {
    color: $white;
    background-color: $lime;

    &:hover {
        color: $greyText;
    }
}

.row {
    margin-bottom: 5px;
}

.ui-widget {
    font-size: 10px;
}

.center {
    text-align: center;
}

.ce__form-container_company-image,
.ce__unbinding-container_company-image {
    width: 180px;
    height: 80px;
    margin-bottom: 10px;
}

.ce__btn {
    padding: 5px;
}

.ce__loading {
    position: fixed;
    top: 38px;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-color: rgba(0,0,0,0.8);
    z-index: 3;
}

.success-img-holder,
.loading-img-holder,
.success-text-holder,
.loading-text-holder {
    text-align: center;
    margin: 30px 0;
    color: $white;
}

.success-text-holder {
  text-align: center;
  margin: 15px 0;
  color: $greyText;
}

.success-img,
.loading-img {
    width: 128px;
    height: 128px;
}

.ce__header {
    background-color: $lime;
    color: $white;
    margin-bottom: 0.8em;
}

.ce__company-name {
    color: $lime;
}

.ce__wrapper {
    color: $greyText;
    margin-bottom: 10px;
}

.ce__auth-wrapper {
    margin: 15px 0;
    padding: 20px 0;
}

.ce__form-container {
    margin: 0 20px;
}

.header-holder {
    padding: 6px 0;
}

.header-message {
    padding-top: 2px;
}

.header-icons {
    text-align: right;
    font-size: 1.5em;

    .glyphicon:active {
        color: $greyText;
    }
}

.header-icons {
    .glyphicon {
        padding: 0 0.2em;
    }
}

.show-left-border {
    border-left: 2px solid #f2f2f2;
}

.binded {
    color: $lime!important;
    border: 1px solid $lime;
    background-color: $white;
}

.unbinding-message-holder {
    margin-top: 5px;

    .glyphicon {
        color: $lime;
        margin-left: 10px;
    }

    .unbinding_text {
        margin: 0 10px 0 5px;
    }
}

.cargo-info-holder,
.city-holder {
    label {
        top: 2px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        padding-right: 0;
    }

    .input-sm {
        height: 24px;
        padding: 3px 4px;
        background-color: $white;
    }

    .form-group {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .form-control-feedback {
        right: 12px;
        line-height: 24px;
    }

    .checkbox {
        margin: 0 0 5px;
        padding-right: 0;

         > div > div,
        > div {
            padding-left: 0;
        }

        label {
            text-align: left;
            display: block;
        }
    }
}

.city-holder {
    label {
      padding-left: 0;
    }

    .city {
      margin-top: 25px;

      &:first-child {
        padding-right: 0;
        padding-left: 0;
        text-align: right;

        label:last-child {
          margin-top: 30px;
        }
      }
    }

    .col-wrap {
        .form-group {
            margin-top: 0;
        }

        div:first-child {
            padding-left: 0;
        }

        div:last-child {
            padding-right: 0;
        }
    }

    .revert-cities {
        .revert-cities-img {
            width: 28px;
            height: 28px;
            padding: 6px;

            &:active {
              background-color: rgba(0,0,0,0.1);
            }
        }
    }
}

.wide-right {
    padding-right: 0;
}

.wide-left {
    padding-left: 0;
}

.cargos-container,
.cargos-info-holder {
    &.container {
        margin: 0;
        padding: 0;
    }
}

.cargo-info-holder {
    ::-webkit-input-placeholder {
        text-align: right;
    }

    input:-moz-placeholder {
        text-align: right;
    }

    label {
        text-align: right;
    }

    .col-wrap {
        .form-group {
            margin-top: 0;
        }

        div:first-child {
            padding-left: 0;
        }

        div:last-child {
            padding-right: 0;
        }
    }

    fieldset {
        > .form-group {
            margin-top: 0;
        }

        &:disabled {

            .form-group {
                color: $lighterGrey;

                input {
                    opacity: 0.4;
                    cursor: pointer;
                }
            }
        }
    }
}

#removeSelection {
    display: none;
}

.calendar-holder {
    padding: 0 5px;

    .dates,
    .month {
        font-size: 10px;
    }

    .month {
        margin: 1px 0;
    }

    .next-month {
        background-color: $lightGrey;
        color: $black;
    }

    .current-month {
        background-color: $lightLime;
        color: $black;
    }

    #removeSelection {
        background-color: $lightGrey;
        color: red;
        float: right;
    }

    .weekend > div {
        color: $greyText;
    }

    .date {
        div {
            border-radius: 2px;
            padding: 1px 0;
            font-size: 11px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        &.today {
            div {
                font-weight: 800;
            }
        }

        &.past {
            div {
                opacity: 0.9;
                color: $lightGrey;
            }
        }

        &.selected {
            div {
                background-color: $lightOrange;
                color: $white;
                opacity: 1;
            }
        }
    }

    .month {
        border-radius: 2px;
        padding: 0 8px;

        &.current-month {
            opacity: 0.8;
            text-align: left;
        }

        &.next-month {
            text-align: right;
        }
    }

    .table {
        margin-bottom: 0;

        td,
        th {
            text-align: center;
        }

        th {
            padding: 0;
            color: rgba(0,0,0,0.3);
            border: 0;
        }

        td {
            padding: 1px;
            border-color: transparent;
            cursor: pointer;
        }
    }
}
