* {
  box-sizing: border-box;
}

@media (min-width: 1310px) {
  .container {
    width: 1280px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.center {
  text-align: center;
}

.cargo-ext__container {
  position: relative;
  width: 100%;

  &:before {
    content: ' ';
    display: table;
  }
}

.cargo-ext__row {
  margin-left: -15px;
  margin-right: -15px;

  &:before {
    content: ' ';
    display: table;
  }
}

.cargo-ext__form {
  .form-group {
    position: relative;
  }
}

.input-label {
  vertical-align: middle;
}

.textarea-label {
  vertical-align: top;
}

.cargo-ext__input {
  position: relative;
  display: inline-block;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  padding: 0 10px;
  outline: none;
  box-shadow: none;
  vertical-align: top;
  margin: 5px;
}

.cargo-ext__textarea {
  resize: none;
  display: inline-block;
  height: 120px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  font-weight: 400;
  margin: 5px;
}

.cargo-ext__btn {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0 20px;
  min-height: 34px;
  line-height: 34px;
  color: #fff;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.cargo-ext__btn-grey {
  background-color: #f2f0f0;
  color: #666;
  border: 1px solid #b2b2b2;
  line-height: 32px;

  &:hover {
    background-color: #ccc;
    color: #666;
  }
}

.cargo-ext__btn-send {
  float: right;
}

.cargo-ext__chat {
  display: table;
  width: 90%;
  margin: 0 5%;
  border-collapse: collapse;
}

.cargo-ext__chat-row {
  display: table-row;
}

.cargo-ext__chat-window {
  display: table-cell;
  width: 75%;
  height: 400px;
  max-height: 400px;
  border: 1px solid #777;

  .chat-message-holder {
    height: 300px;
    width: 100%;
    overflow: auto;
  }

  .chat-message {
    display: block;
    width: 100%;

    &:nth-child(odd) {
      background-color: #eaeaea;
    }
  }

  .chat-window-columns {
    height: 30px;
    background-color: #C1C1C1;

    .message, .title, .link, .to {
      line-height: 28px;
      font-weight: 600;
      text-align: center;
    }
  }

  .message, .title, .link, .to {
    display: inline-block;
  }

  .title, .link, .to {
    vertical-align: top;
  }

  .message {
    width: 600px;
  }

  .title {
    width: 300px;
    text-align: center;
    font-weight: 600;
  }

  .link {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .to {
    width: 100px;
    text-align: center;
    word-wrap: break-word;
  }

  .cargo-ext__chat-textarea {
    width: 614px;
  }
}

.cargo-ext__chat-users {
  display: table-cell;
  width: 20%;
  height: 400px;
  color: #555;
  border: 1px solid #777;

  .cargo-ext__chat-user {
    width: 100%;
    font-size: 14px;
  }

  .users-table {
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    .table-row {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
    }

    .table-header, .table-cell-user {
      display: flex;
      width: 50%;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    .table-headers {
      height: 28px;
      border-bottom: 1px solid #999;
    }

    .table-header {
      line-height: 25px;
      font-weight: 600;
      border-right: 1px solid #999;
    }

    .table-input[type='checkbox'] { //input
      display: none;

      &:checked {
        & ~ .user-login {
          background-color: #5dc2f1;
        }
      }
    }

    .table-user { //label
      display: flex;
      width: 100%;
      justify-content: space-between;

      .user-login {
        display: flex;
        width: 50%;
        justify-content: center;
      }
    }
  }
}