<div class="ce__auth-wrapper col-xs-6 col-sm-6 col-md-6 col-lg-6 <%=wrapper_class%>" id="<%=wrapper_id%>">
    <div class="ce__unbinding-container">
        <div class="ce__image-holder center">
            <img class="ce__unbinding-container_company-image" src="images/<%=img_name%>" />
        </div>
        <div class="ce__unbinding_holder">
          <div class="unbinding-message-holder col-xs-8 col-sm-8">
            <span class="glyphicon glyphicon-ok"></span>
            <span class="unbinding_text"><%-text%></span>
          </div>
          <div class="col-xs-4 col-sm-4">
            <button id="<%=submit_id%>" type="button" class="btn ce__btn btn-defualt ce__unbind_btn-confirm binded">
                Отвязать
            </button>
          </div>
        </div>
    </div>
</div>
