<div class="ce__auth-wrapper col-xs-6 col-sm-6 col-md-6 col-lg-6 <%=wrapper_class%>" id="<%=wrapper_id%>">
    <div class="ce__unbinding-container">
        <div class="ce__image-holder center">
          <img class="ce__unbinding-container_company-image" src="css/images/<%=img_name%>" />
        </div>

        <div class="ce_form-holder">
            <form novalidate id="<%=form_id%>">
                  <%_.each(fields, function(field){%>
                    <div class="form-group">
                        <label for="<%=field.id%>"><%=field.label%></label>
                        <% if (field.type !== 'select') { %>
                        <input type="<%=field.type%>" class="form-control <% if (field.changeable) { %>width-80 inline-block <% } %>" id="<%=field.id%>" name="<%=field.id%>" value='<%=field.value%>' disabled/>
                          <% if (field.changeable) { %>
                            <button id="<%=field.change_id%>" type="button" class="btn ce__btn btn-accept col-xs-2 col-sm-2 right">
                              <img src="css/images/edit.png" width="16" height="16"/>
                            </button>
                          <% } %>
                        <% } %>
                    </div>
                  <% }); %>
                </div>
                <div class="ce__unbind_btn">
                    <button id="<%=submit_id%>" type="button" class="btn ce__btn btn-defualt ce__unbind_btn-confirm binded col-xs-8 col-sm-8 col-sm-offset-2 col-xs-offset-2">
                      Отвязать
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
