<div class="ce__cargo-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12 <%=wrapper_class%>" id="<%=wrapper_id%>">
  <div class="col-xs-3 col-sm-3 wide-left">
    <button id="export" type="button" class="btn btn-accept ce__btn ce__order_btn-confirm col-xs-12 col-sm-12">
      <%-orderButtonText%>
    </button>
  </div>
  <div class="ce__wrapper_export-message export-message col-xs-9 col-sm-9 wide-left wide-right">
      Для того, чтобы продублировать груз на
      <span class="ce__company-name cargo-site" title="https://www.cargo.lt">Cargo.LT</span>
      выберите предложение и нажмите кнопку "Экспортировать".
  </div>
  <table class='table table-striped table-hover table-condenced table-bordered'>
    <thead>
      <tr>
        <td>
          <label>
            <input type='checkbox' class='check-all' value=''/>
            <span class="checkbox-text"></span>
          </label>
        </td>
        <td>Нас. пункт</td>
        <td>Дата</td>
        <td>Груз</td>
        <td>Ставка</td>
      </tr>
    </thead>
    <tbody>
    <% _.forEach(lardiCargos, function(cargo) { %>
      <tr <% if (cargo.isNew) {%> class="new-cargo"<% } %>>
          <td>
            <label>
              <input type='checkbox' value='<%-cargo.id%>'/>
              <span class="checkbox-text"></span>
            </label>
          </td>
          <td>
            <strong><%-cargo.country_from%></strong>
            <%-_.capitalize(cargo.city_from)%><% if (cargo.area_name_from.length > 0) { %>, <%-cargo.area_name_from%> <% } %>
            -<br>
            <strong><%-cargo.country_to%></strong>
            <%-_.capitalize(cargo.city_to)%><% if (cargo.area_name_to.length > 0) { %>, <%-cargo.area_name_to%> <% } %>
          </td>
          <td>
            <%=cargo.date_from.slice(-2)%>.<%=cargo.date_from.slice(-5, -3)%>
            <% if (cargo.date_to.length > 0) { %>
              - <%=cargo.date_to.slice(-2)%>.<%=cargo.date_to.slice(-5, -3)%>
            <% } %>
          </td>
          <td>
<%-cargo.gruz%>,
<%-cargo.mass%><% if (cargo.mass2 !== '0.0') { %> - <%-cargo.mass2%><% } %>т,
<% if (cargo.value !== '0.0') { %> <%-cargo.value%><% } %><% if (cargo.value2 !== '0.0') { %> - <%-cargo.value2%><% } %><% if (cargo.value2 !== '0.0' || cargo.value !== '0.0') { %>м3,<% } %>
<% if (cargo.cmr !== 'false') { %> CMR,<% } %>
<% if (cargo.t1 !== 'false') { %> T1,<% } %>
<% if (cargo.tir !== 'false') { %> TiR,<% } %>
<% if (cargo.adr !== '0') { %> ADR-<%-cargo.adr%>,<% } %>
<% if (cargo.body_type_name.length > 0) { %>
  <%-cargo.body_type_name%>
<% } else { %>
  <%-cargo.body_type_group_name%>
<% }%>
          </td>
          <td>
              <%-cargo.stavka%> <%-cargo.payment_currency_name%>
          </td>
      </tr>
    <% }) %>
    </tbody>

  </table>
</div>
